.speech{
    font-family: sans-serif;
    font-size: 20px;
    color: black;
}
.direction{
    font-family: 'Times New Roman';
    font-size: 30px;
    color: black;
    background-color:lightcoral;
}
.name{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 22px;
   color: yellow;
}
.name:hover{
    border: solid 2px rgb(175, 37, 240);
    text-shadow: 3px 3px 3px rgb(21, 54, 239);
}

.KROGSTAD:hover{
    border: solid 2px rgb(175, 37, 240);
    text-shadow: 3px 3px 3px rgb(21, 54, 239);
}
.LINDE:hover{
    border: solid 2px rgb(175, 37, 240);
    text-shadow: 3px 3px 3px rgb(21, 54, 239);
}
.MRS_LINDE:hover{
    border: solid 2px rgb(175, 37, 240);
    text-shadow: 3px 3px 3px rgb(21, 54, 239);
}
.direction:hover{
    background-color: aquamarine;
    color:red
}
.LINDE{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:aqua;
    background-color: blue;
}
.KROGSTAD{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:bisque;
    background-color: chartreuse;
}
.MRS_LINDE{
   font-family: Arial, Helvetica, sans-serif;
   color:crimson;
   background-color:darksalmon;

}
table,th,td{
    border: 1px solid;
    color: brown;
    text-align: left;
    padding:0px;
    margin: 0px;
    /* padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 10px; */
}
tr:nth-child(even){
    background-color: rgb(21, 219, 203);
}
